<form class="form-horizontal" style="padding-top:150px;">
<fieldset>
<legend style="text-align:center;font-size:30px;">Cadastro Usuário</legend>
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" [(ngModel)]="credentials.email" type="text" placeholder="E-mail" class="form-control input-md" required="">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="nome">Nome da Empresa</label>  
  <div class="col-md-4">
  <input id="nome" name="nome" [(ngModel)]="credentials.nomeEmpresa" type="text" placeholder="Nome da Empresa" class="form-control input-md" required="">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="senha">Senha</label>
  <div class="col-md-4">
    <input id="senha" name="senha" [(ngModel)]="credentials.password" type="password" placeholder="Senha" class="form-control input-md" required="">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="cancelar"></label>
  <div class="col-md-4">
      <a href="#" class="btn btn-primary btn-md" [routerLink]="['/home']">Cancelar<i class="fa fa-cancel"></i></a>
  </div>
  <label class="col-md-4 control-label" for="pesquisar"></label>
  <div >
    <a href="#" class="btn btn-primary btn-md" (click)="cadastrar()">Cadastrar<i class="fa fa-sign-up"></i></a>
  </div>
</div>
</fieldset>
</form>
